<div id="infowindow-{{id}}" class="infowindow-content">
    <span><strong>{{title}}</strong></span>
    <br/>
    <span>by <a href="/mybucketlist/{{'User.id'}}">{{'User.username'}}</a></span>
    <br/>
    <span>{{location_name}}</span>
</div>