<div class="list-item">
    
    <h3>{{title}}</h3> 
    {{#if description}}
    <p id="description">{{description}}</p>
    {{/if}}
    <p><span>category:</span>    {{category}}</p>
    <p><span>location:</span>    {{location_name}}</p>
    {{#if collaborators}}
    <p><span>seeking collaborators:</span>    yes</p>
    {{else}}
    <p><span>seeking collaborators:</span>    no</p>
    {{/if}}
    <button class="btn defaultbutton deleteBtn" data-id={{id}}>REMOVE</button>
</div>
