<div class="list-item">
    
    <h3>{{'BucketLists.title'}}</h3> <button class="deleteBtn" data-id={{'BucketLists.id'}}>x</button>
    {{#if 'BucketLists.description'}}
    <p>{{'BucketLists.description'}}</p>
    {{/if}}
    <p>category: {{'BucketLists.category'}}</p>
    <p>location: {{'BucketLists.location_name'}}</p>
    {{#if 'BucketLists.collaborators'}}
    <p>seeking collaborators: yes</p>
    {{else}}
    <p>seeking collaborators: no</p>
    {{/if}}
    
</div>
