<div class="list-item">
    
    <h3>{{title}}</h3> 
    {{#if description}}
    <p>{{description}}</p>
    {{/if}}
    <p>category: {{category}}</p>
    <p>location: {{location_name}}</p>
    {{#if collaborators}}
    <p>seeking collaborators: yes</p>
    {{else}}
    <p>seeking collaborators: no</p>
    {{/if}}

    {{#if bucketListId}}
        <button class="deleteBtn" data-id={{bucketListId}}>Remove</button>
    {{else}}
        <button class="deleteBtn" data-id={{id}}>Remove</button>
    {{/if}}
</div>
