<h2>{{job-title}}</h2>
<h4>{{company}}</h4>

<h4>APPLIED?</h4>
<h2>{{applied}}</h2>
<button>I applied!</button>

<h3>{{position-title}}</h3>

<h2>{{salary}}</h2>

<h5>{{want-it}}</h5>
<img src="" alt="">

<h3>{{work-life}}</h3>
<img src="" alt="">

<button>Notes</button>

<a href="">MORE ABOUT {{job-title}}</a>
<button>APPLY FOR {{job-title}}</button>
<button>DELETE</button>
<img src="" alt="">

